:root {
    --font: "Segoe UI", "Roboto", "Arial", sans-serif;
}

body {
    font-family: var(--font);
    height: 100%;
    margin: 0;
    position: relative;
    font-weight: 300;
    background: #000000;
}
html {
    height: 100%;
}

.background {
    width: 100%;
    height: 100%;
    background-image: var(--image);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    top: 25%;
    right: 120px;
    width: 60%;
    height: 50%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.329); 
}
main .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--image);
    background-position-x: -120px;
    background-position-y: -120px;
    filter: blur(5px);
    z-index: 1;
}
main .content {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    display: grid;
    grid-template-columns: auto auto auto auto;
}
main .content a {
    margin: 5px 10px;
    width: calc(100% - 20px);
    display: block;
    color: #FFF;
    text-decoration: none;
    background: transparent;
    transition: 300ms all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid transparent;
}
main .content a:hover {
    border-bottom-color: #FFF;
    background: rgba(255,255,255,.1);
}